<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Log In | Sonmat</title>
    <% include ../partials/head %>
  </head>
  <body>
    <div class="main-login">
      <% include ../partials/nav %>
      <% include ../partials/logo %>

      <div class="login-container">
        <h1>log in</h1>

        <form action="/session" method="POST">
          <!-- username -->
          <input type="text" name="username" placeholder="User Name" required autocomplete="off">
          <!-- password -->
          <input type="text" name="password" placeholder="Password" required autocomplete="off">
          <!-- submit -->
          <button class="button-primary" type="submit" formmethod="POST">log in</button>
        </form>
      </div>

      <!-- footer -->
      <% include ../partials/footer %>
    </div>
    <!-- JavaScript -->
    <% include ../partials/js %>
  </body>
</html>
