<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Log In | Sonmat</title>
    <% include ../partials/head %>
  </head>
  <body>
    <div class="container">
      <h1>Log In Page</h1>

      <!-- log in -->
      <div class="row">
        <form action="/session" method="POST">
          <!-- username -->
          <input type="text" name="username" placeholder="username" required>
          <!-- password -->
          <input type="text" name="password" placeholder="password" required>
          <!-- create/submit -->
          <button class="button" type="submit" formmethod="POST">log in</button>
        </form>

      </div>

    </div>

    <!-- footer -->
    <% include ../partials/footer %>
    <!-- JavaScript -->
    <% include ../partials/js %>
  </body>
</html>
