<div id="contact" class="footer">
  <div class="social-media">
    <ul>
      <!-- github -->
      <a href="https://github.com/samwhindleton" target="_blank">
        <li>
          <i class="fab fa-github"></i>
        </li>
      </a>
      <!-- linkedin -->
      <a href="https://www.linkedin.com/in/samwhindleton" target="_blank">
        <li>
          <i class="fab fa-linkedin-in"></i>
        </li>
      </a>
      <!-- twitter -->
      <a href="https://twitter.com/samwhindleton" target="_blank">
        <li>
          <i class="fab fa-twitter"></i>
        </li>
      </a>
    </ul>
  </div>

  <div class="rights">
    &copy;
    <!-- display current year -->
    <script>
      new Date().getFullYear()>=2018&&document.write(new Date().getFullYear());
    </script>

    &nbsp;

    <a href="https://samwhindleton.com" target="_blank">sam whindleton</a>.

    &nbsp;

    all rights reserved.
  </div>
</div>
