<meta charset="utf-8">
<!-- viewport for page dimensions and scaling -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- author -->
<meta name="author" content="Sam Whindleton">
<!-- description -->
<meta name="description" content="">
<!-- keywords -->
<meta name="keywords" content="">
<!-- title -->
<title>Sonmat</title>
<!-- main stylesheet -->
<link rel='stylesheet' href='/css/app.css'>
<!-- fontawesome -->
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
<!-- favicon -->
<link rel="icon" href="/img/favicon.ico" type="image/x-icon">
