<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <div class="container">
      <!-- <h1>Hello, World!</h1> -->

      <!-- header -->
      <div class="row header">
        <div class="ten columns">
          <h1>Sonmat</h1>
        </div>
        <!-- login/signup buttons -->
        <div class="two columns">
          <!-- login -->
          <form action="/login" method="GET">
            <button class="button" type="submit" formmethod="GET">login</button>
          </form>
          <!-- signup -->
          <form action="/signup" method="GET">
            <button class="button" type="submit" formmethod="GET">sign up</button>
          </form>
        </div>
      </div>

    </div>

    <!-- footer -->
    <% include partials/footer %>
    <!-- JavaScript -->
    <% include partials/js %>
  </body>
</html>
