<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <div class="container">
      <!-- <h1>Hello, World!</h1> -->

      <!-- header -->
      <div class="row header">
        <div class="ten columns">
          <h1>Sonmat</h1>
        </div>
        <!-- log out / user home OR log in / sign up buttons -->
        <div class="two columns">
          <% if (currentUser) { %>
            <!-- log out button -->
            <form action="/session?_method=DELETE" method="POST">
              <button class="button" type="submit" formmethod="POST">log out</button>
            </form>
            <!-- user home button -->
            <form action="/session/home" method="GET">
              <button class="button" type="submit" formmethod="GET">home</button>
            </form>
          <% } else { %>
            <!-- log in button -->
            <form action="/session/new" method="GET">
              <button class="button" type="submit" formmethod="GET">log in</button>
            </form>
            <!-- sign up button -->
            <form action="/user/new" method="GET">
              <button class="button" type="submit" formmethod="GET">sign up</button>
            </form>
          <% } %>
        </div>
      </div>

      <div class="row">
        <h1>
          <% if (currentUser) { %>
            Welcome <%=currentUser.username%>!
          <% } else { %>
            Welcome!
          <% } %>
        </h1>
      </div>

      <!-- recipes -->
      <div class="row">
        <!-- display 3 newest recipes -->
        <% for (let i = recipes.length - 1; i >= recipes.length - 3; i--) { %>
          <a href="/recipe/<%=recipes[i].id;%>"><%=recipes[i].title;%></a>
          <br>
        <% } %>
      </div>

    </div>

    <!-- footer -->
    <% include partials/footer %>
    <!-- JavaScript -->
    <% include partials/js %>
  </body>
</html>
