<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body id="home">
    <div class="main">
      <!-- navigation -->
      <div class="navigation">
        <!-- main navigation -->
        <div class="main-navigation">
          <ul>
            <!-- home -->
            <a href="/">
              <li>home</li>
            </a>
            <!-- recipes -->
            <a href="/recipe">
              <li>recipes</li>
            </a>
            <!-- about -->
            <a href="#about">
              <li>about</li>
            </a>
            <!-- contact -->
            <a href="#contact">
              <li>contact</li>
            </a>
          </ul>

        </div>
        <!-- log out / user home OR log in / sign up buttons -->
        <div class="secondary-navigation">
          <ul>
            <% if (currentUser) { %>
              <a href="/session/home">
                <li>my home</li>
              </a>

              <form class="logout" action="/session?_method=DELETE" method="POST">
                <button>
                  <li>log out</li>
                </button>
              </form>
            <% } else { %>
              <a href="/user/new">
                <li>sign up</li>
              </a>

              <a href="/session/new">
                <li>log in</li>
              </a>
            <% } %>
          </ul>
        </div>

      </div>

      <!-- header -->
      <div class="header">
        <div class="header-img">
          <img src="/img/background.jpg" alt="Feeding best friend food.">
        </div>
        <!-- logo -->
        <div class="logo">
          <h1>Sonmat</h1>
        </div>
      </div>

      <!-- recipes -->
      <div class="row recipes">
        <!-- display 3 newest recipes -->
        <% for (let i = recipes.length - 1; i >= recipes.length - 3; i--) { %>
          <div class="recipes-show">
            <a href="/recipe/<%=recipes[i].id;%>">
              <img src="<%=recipes[i].image;%>" alt="">
              <p class="recipes-title"><%=recipes[i].title;%></p>
            </a>
          </div>
        <% } %>
      </div>

      <!-- about -->
      <div id="about" class="row about">
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
        </p>
      </div>

      <!-- footer -->
      <% include partials/footer %>
    </div>
    <!-- JavaScript -->
    <% include partials/js %>
  </body>
</html>
