<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Log In | Sonmat</title>
    <% include partials/head %>
  </head>
  <body>
    <div class="container">
      <h1>Log In Page</h1>

    </div>

    <!-- footer -->
    <% include partials/footer %>
    <!-- JavaScript -->
    <% include partials/js %>
  </body>
</html>
