/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
fonts
font-family: 'Nanum Pen Script', cursive;
font-family: 'Open Sans', sans-serif;
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script|Open+Sans&amp;subset=korean');


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
normalize css
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css');


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
skeleton css framework
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@import url('https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css');


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
colors
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
:root {
  --pear: #69883a;
  --lime: #a3b561;
  --tomato: #c25244;
  --cookbook: #ecebeb;
  --paperbag: #655847;
  --charcoal: #232121;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
main style
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
body {
  /* filter: grayscale(100%); */
  width: 100vw;
  background: var(--cookbook);
  color: var(--charcoal);
  font-family: 'Open Sans', sans-serif;
  /* flexbox center */
  align-items: center;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}

p {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

ul, li {
  margin: 0 auto;
}

ul {
  list-style: none;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
main containers
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.main {
  width: 100%;
  background: var(--cookbook);
  margin: 0 auto;
}

.main-login {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
}

.login-container {
  height: 50vmin;
  width: 50%;
  /* flexbox center */
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* flexbox center done */
  background: var(--charcoal);
  margin: 0 auto;
}

.recipes-main-container {
  color: var(--cookbook);
  background: var(--charcoal);
  padding: 12vmin;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
navigation
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.navigation {
  height: 7vh;
  width: 100%;
  /* flexbox center */
  align-items: center;
  display: flex;
  justify-content: space-between;
  /* flexbox center done */
  background: var(--tomato);
  position: fixed;
  user-select: none;
  z-index: 1;
}

.main-navigation, .secondary-navigation {
  height: 100%;
  width: 40%;
  display: inline-block;
}

.secondary-navigation {
  width: 20%;
}

.main-navigation > ul, .secondary-navigation > ul,
.main-navigation > ul > a, .secondary-navigation > ul > a {
  height: 100%;
  /* flexbox center */
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.main-navigation > ul > a, .secondary-navigation > ul > a, .logout > button {
  height: 6.8vh;
  color: var(--cookbook);
  width: 10vmin;
  font-size: 2vmin;
  text-transform: capitalize;
  transition-duration: 400ms;
}

.main-navigation > ul > a:hover, .secondary-navigation > ul > a:hover {
  background: var(--cookbook);
  color: var(--tomato);
  transition-duration: 600ms;
}

.logout {
  height: 7vh;
  /* flexbox center */
  align-items: center;
  display: flex;
  justify-content: center;
  /* flexbox center done */
  margin: 0;
}

.logout > button {
  border: 0;
  border-radius: 0;
  font-weight: normal;
  margin: 0;
  padding: 0;
  transition-duration: 400ms;
}

.logout > button:hover, .logout > button:focus {
  background: var(--cookbook);
  color: var(--tomato);
  transition-duration: 600ms;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
header
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.header, .header-img, .header-img > img, .logo {
  height: 93vh;
  width: 100%;
  /*
  background image
  background: url('/img/background.jpg') no-repeat bottom center fixed;
  background-size: cover;
  */
}

.header {
  margin-top: 7vh;
}

.header-img {
  position: absolute;
}

.header-img > img {
  object-fit: cover;
  object-position: 50% 84%;
  filter: grayscale(84%);
}

.logo {
  /* flexbox center */
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
}

.logo > h1 {
  color: var(--tomato);
  font-family: 'Nanum Pen Script', cursive;
  font-size: 30vmin;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
recipes
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.recipes {
  height: 79vh;
  width: 100vw;
  background: var(--cookbook);
  /* flexbox center */
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* fix to bottom */
  padding: 7vh 0;
}

.recipes-show {
  height: 29%;
  width: 64vw;
  /* flexbox center */
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.recipes-show > a {
  height: 100%;
  width: 64vw;
  color: var(--cookbook);
  /* flexbox center */
  align-items: center;
  display: flex;
  justify-content: center;
  transition-duration: 600ms;
}

.recipes-show > a:visited, .recipes-show > a:hover {
  color: var(--cookbook);
}

.recipes-show > a:hover {
  transform: scale(1.1, 1.1);
  transition-duration: 400ms;
}

.recipes-show > a > img {
  height: 100%;
  width: 64vw;
  object-fit: cover;
  object-position: 50% 50%;
}

.recipes-title {
  height: 4.7vmin;
  width: 64vw;
  background: rgba(194, 82, 68, 0.8);
  bottom: 0;
  font-size: 2.7vmin;
  overflow: scroll;
  padding: 1vmin 0;
  position: absolute;
  text-align: center;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
about
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.about {
  height: 93vh;
  /* flexbox center */
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* fix to bottom */
  background: var(--charcoal);
}

.about > p {
  color: var(--cookbook);
  font-size: 2.3vmin;
  padding: 12vh 18vw;
  text-align: justify;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
footer
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.footer {
  height: 26vmin;
  width: 100%;
  background: var(--cookbook);
  /* flexbox center */
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* fix to bottom */
  bottom: 0;
  position: relative;
}

.social-media {
  height: 70%;
  width: 60%;
}

.social-media > ul {
  height: 100%;
  width: 100%;
  /* flexbox center */
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.fa-github, .fa-linkedin-in, .fa-twitter {
  color: var(--tomato);
  font-size: 5.7vmin;
  transition-duration: 600ms;
}

.fa-github:hover, .fa-linkedin-in:hover, .fa-twitter:hover {
  color: var(--pear);
  transform: scale(1.2, 1.2);
  transition-duration: 400ms;
}

.rights {
  height: 30%;
  width: 100%;
  /* flexbox center */
  align-items: center;
  display: flex;
  justify-content: center;
  /* flexbox center done */
  color: var(--charcoal);
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8vmin;
  text-transform: uppercase;
}

.rights > a, .rights > a:visited {
  color: var(--tomato);
}

.rights > a:hover {
  color: var(--pear);
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
log in / sign up page style
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.logo-partial {
  width: 100%;
}

.logo-partial > h1 {
  color: var(--tomato);
  font-family: 'Nanum Pen Script', cursive;
  font-size: 15vmin;
  margin: 0;
  margin-top: 7vh;
  text-align: center;
  user-select: none;
}

.login-container > h1 {
  color: var(--cookbook);
  margin: 0;
  text-transform: capitalize;
  user-select: none;
}

.login-container > form {
  height: 50%;
  /* flexbox center */
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* flexbox center done */
  margin-top: 5vh;
}

.login-container > form > input, .login-container > form > button {
  height: 24%;
  width: 150%;
  font-size: 1.8vmin;
  border-radius: 0;
}

.login-container > form > button {
  min-height: 24%;
  background: var(--lime);
  border: var(--lime);
  line-height: 0;
  user-select: none;
}

.login-container > form > button:hover, .login-container > form > button:focus {
  background: var(--pear);
  border: var(--pear);
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
recipes index page
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.recipes-index {
  width: 100vw;
  background: var(--cookbook);
  /* flexbox center */
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* fix to bottom */
  padding: 7vh 0;
}

.recipes-index-show:nth-child(1) {
  padding-top: 0;
}
.recipes-index-show {
  height: 29%;
  width: 64vw;
  /* flexbox center */
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 5vh;
  position: relative;
}

.recipes-index-show > a {
  height: 100%;
  width: 64vw;
  color: var(--cookbook);
  /* flexbox center */
  align-items: center;
  display: flex;
  justify-content: center;
  transition-duration: 600ms;
}

.recipes-index-show > a:visited, .recipes-index-show > a:hover {
  color: var(--cookbook);
}

.recipes-index-show > a:hover {
  transform: scale(1.1, 1.1);
  transition-duration: 400ms;
}

.recipes-index-show > a > img {
  max-height: 42vw;
  height: 100%;
  width: 64vw;
  object-fit: cover;
  object-position: 50% 50%;
}

.recipes-index-title {
  height: 4.7vmin;
  width: 64vw;
  background: rgba(194, 82, 68, 0.8);
  bottom: 0;
  font-size: 2.7vmin;
  overflow: scroll;
  padding: 1vmin 0;
  position: absolute;
  text-align: center;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
create / edit / view page style
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.row-top, .row-bottom {
  /* border: 1px solid red; */
  font-size: 2.7vmin;
  /* flexbox center */
  align-items: center;
  display: flex;
  justify-content: center;
  /* flexbox center done */
}

.row-top > .five > p, .row-bottom > p, .recipes-show-page-title {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 3.7vmin;
}
.row-top > .input-field > input {
  width: 97%;
  margin: 1vmin;
  border-radius: 0;
}

.textarea-field > textarea {
  min-height: 6em;
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  border-radius: 0;
  font-size: 2.7vmin;
  line-height: 1.2;
}

.textarea-field > img {
  max-height: 42vw;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.create-button-row > button {
  min-height: 2.3em;
  width: 100%;
  background: var(--lime);
  border: var(--lime);
  border-radius: 0;
  font-size: 3.4vmin;
  line-height: 0;
  margin-top: 7%;
  user-select: none;
}

.create-button-row > button:focus, .create-button-row > button:hover {
  background: var(--pear);
  border: var(--pear);
}

.recipes-show-page-title {
  font-size: 7vmin;
  line-height: 0.9;
  overflow-x: scroll;
  overflow-y: hidden;
  text-align: center;
  /* text-decoration: underline; */
}

.created-by {
  color: var(--lime);
}

.recipes-show-page-info {
  background: var(--cookbook);
  color: var(--paperbag);
  font-size: 2.3vmin;
  line-height: 1.9;
  padding: 1.5vmin 2.5vmin;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
user home style
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.logo-partial-user {
  width: 100%;
}

.logo-partial-user > h1 {
  color: var(--charcoal);
  font-family: 'Nanum Pen Script', cursive;
  font-size: 11vmin;
  margin: 0;
  margin-top: 7vh;
  text-align: center;
  user-select: none;
}

.home-container {
  min-height: 54vh;
}

.user-home {
  min-
  /* flexbox center */
  align-items: center;
  display: flex;
  justify-content: center;
}

.user-home > form {
  margin: 0 4vmin;
}

.user-home > form > button {
  min-height: 2.3em;
  min-width: 80%;
  background: var(--lime);
  border: var(--lime);
  border-radius: 0;
  font-size: 2.9vmin;
  line-height: 0;
  margin-top: 20%;
  user-select: none;
}

.user-home > form > button:focus, .user-home > form > button:hover {
  background: var(--pear);
  border: var(--pear);
}

.user-recipes-show {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 4.3vmin 0;
}

.user-recipes-show > p {
  font-size: 4.3vmin;
}

.user-recipes-show > a > img {
  max-height: 20vw;
  min-height: 20vw;
  height: 100%;
  width: 32vw;
  object-fit: cover;
  object-position: 50% 50%;
}

.user-home-buttons {
  /* flexbox center */
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.user-home-buttons > form {
  margin: 0 4vmin;
}

.user-home-buttons > form > button {
  min-height: 2.3em;
  min-width: 80%;
  background: var(--lime);
  border: var(--lime);
  border-radius: 0;
  font-size: 2vmin;
  line-height: 0;
  margin-top: 20%;
  user-select: none;
}

.user-home-buttons > form > button:focus, .user-home-buttons > form > button:hover {
  background: var(--pear);
  border: var(--pear);
}
