<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign Up | Sonmat</title>
    <% include ../partials/head %>
  </head>
  <body>
    <div class="main-login">
      <% include ../partials/nav %>
      <% include ../partials/logo %>

      <div class="login-container">
        <h1>sign up</h1>

        <form action="/user" method="POST">
          <!-- username -->
          <input type="text" name="username" placeholder="User Name" required autocomplete="off" maxlength="15" minlength="5">
          <!-- password -->
          <input type="text" name="password" placeholder="Password" required autocomplete="off" maxlength="30" minlength="8">
          <!-- create/submit -->
          <button class="button-primary" type="submit" formmethod="POST">sign up</button>
        </form>
      </div>

      <!-- footer -->
      <% include ../partials/footer %>
    </div>
    <!-- JavaScript -->
    <% include ../partials/js %>
  </body>
</html>
