<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Recipes | Sonmat</title>
    <% include ../partials/head %>
  </head>
  <body>
    <div class="main">
      <% include ../partials/nav %>
      <% include ../partials/logo %>

      <!-- all recipes -->
      <div class="row recipes-index">
        <!-- display 3 newest recipes -->
        <% for (let i = recipes.length - 1; i >= 0; i--) { %>
          <div class="recipes-index-show">
            <a href="/recipe/<%=recipes[i].id;%>">
              <img src="<%=recipes[i].image;%>" alt="">
              <p class="recipes-index-title"><%=recipes[i].title;%></p>
            </a>
          </div>
        <% } %>
      </div>

      <!-- footer -->
      <% include ../partials/footer %>
    </div>
    <!-- JavaScript -->
    <% include ../partials/js %>
  </body>
</html>
